lpc1768/.metadata/.lock
lpc1768/.metadata/.log
lpc1768/.metadata/.plugins/com.nxp.mcuxpresso.datamodels.generic.ui/boards/evkbimxrt1050.png
lpc1768/.metadata/.plugins/com.nxp.mcuxpresso.datamodels.generic.ui/boards/evkbimxrt1050_agm01.png
lpc1768/.metadata/.plugins/com.nxp.mcuxpresso.datamodels.generic.ui/boards/evkbimxrt1050_om13790host.png
lpc1768/.metadata/.plugins/com.nxp.mcuxpresso.datamodels.generic.ui/boards/evkbmimxrt1060.png
lpc1768/.metadata/.plugins/com.nxp.mcuxpresso.datamodels.generic.ui/boards/evkbmimxrt1060_om13790host.png
lpc1768/.metadata/.plugins/com.nxp.mcuxpresso.datamodels.generic.ui/boards/evkbmimxrt1170.png
lpc1768/.metadata/.plugins/com.nxp.mcuxpresso.datamodels.generic.ui/boards/evkbmimxrt1170_om13790host.png
lpc1768/.metadata/.plugins/com.nxp.mcuxpresso.datamodels.generic.ui/boards/evkcmimxrt1060.png
lpc1768/.metadata/.plugins/com.nxp.mcuxpresso.datamodels.generic.ui/boards/evkcmimxrt1060_a8974.png
lpc1768/.metadata/.plugins/com.nxp.mcuxpresso.datamodels.generic.ui/boards/evkcmimxrt1060_om13790host.png
lpc1768/.metadata/.plugins/com.nxp.mcuxpresso.datamodels.generic.ui/boards/evkmimxrt1010.png
lpc1768/.metadata/.plugins/com.nxp.mcuxpresso.datamodels.generic.ui/boards/evkmimxrt1010_agm01.png
lpc1768/.metadata/.plugins/com.nxp.mcuxpresso.datamodels.generic.ui/boards/evkmimxrt1015.png
lpc1768/.metadata/.plugins/com.nxp.mcuxpresso.datamodels.generic.ui/boards/evkmimxrt1015_agm01.png
lpc1768/.metadata/.plugins/com.nxp.mcuxpresso.datamodels.generic.ui/boards/evkmimxrt1015_om13790host.png
lpc1768/.metadata/.plugins/com.nxp.mcuxpresso.datamodels.generic.ui/boards/evkmimxrt1020.png
lpc1768/.metadata/.plugins/com.nxp.mcuxpresso.datamodels.generic.ui/boards/evkmimxrt1020_agm01.png
lpc1768/.metadata/.plugins/com.nxp.mcuxpresso.datamodels.generic.ui/boards/evkmimxrt1020_om13790host.png
lpc1768/.metadata/.plugins/com.nxp.mcuxpresso.datamodels.generic.ui/boards/evkmimxrt1024.png
lpc1768/.metadata/.plugins/com.nxp.mcuxpresso.datamodels.generic.ui/boards/evkmimxrt1024_agm01.png
lpc1768/.metadata/.plugins/com.nxp.mcuxpresso.datamodels.generic.ui/boards/evkmimxrt1024_om13790host.png
lpc1768/.metadata/.plugins/com.nxp.mcuxpresso.datamodels.generic.ui/boards/evkmimxrt1040.png
lpc1768/.metadata/.plugins/com.nxp.mcuxpresso.datamodels.generic.ui/boards/evkmimxrt1040_a8974.png
lpc1768/.metadata/.plugins/com.nxp.mcuxpresso.datamodels.generic.ui/boards/evkmimxrt1040_om13790host.png
lpc1768/.metadata/.plugins/com.nxp.mcuxpresso.datamodels.generic.ui/boards/evkmimxrt1060.png
lpc1768/.metadata/.plugins/com.nxp.mcuxpresso.datamodels.generic.ui/boards/evkmimxrt1060_agm01.png
lpc1768/.metadata/.plugins/com.nxp.mcuxpresso.datamodels.generic.ui/boards/evkmimxrt1060_om13790host.png
lpc1768/.metadata/.plugins/com.nxp.mcuxpresso.datamodels.generic.ui/boards/evkmimxrt1064.png
lpc1768/.metadata/.plugins/com.nxp.mcuxpresso.datamodels.generic.ui/boards/evkmimxrt1064_agm01.png
lpc1768/.metadata/.plugins/com.nxp.mcuxpresso.datamodels.generic.ui/boards/evkmimxrt1064_om13790host.png
lpc1768/.metadata/.plugins/com.nxp.mcuxpresso.datamodels.generic.ui/boards/evkmimxrt1160.png
lpc1768/.metadata/.plugins/com.nxp.mcuxpresso.datamodels.generic.ui/boards/evkmimxrt1160_agm01.png
lpc1768/.metadata/.plugins/com.nxp.mcuxpresso.datamodels.generic.ui/boards/evkmimxrt1160_om13790host.png
lpc1768/.metadata/.plugins/com.nxp.mcuxpresso.datamodels.generic.ui/boards/evkmimxrt1170.png
lpc1768/.metadata/.plugins/com.nxp.mcuxpresso.datamodels.generic.ui/boards/evkmimxrt1170_agm01.png
lpc1768/.metadata/.plugins/com.nxp.mcuxpresso.datamodels.generic.ui/boards/evkmimxrt1170_om13790host.png
lpc1768/.metadata/.plugins/com.nxp.mcuxpresso.datamodels.generic.ui/boards/evkmimxrt1180.png
lpc1768/.metadata/.plugins/com.nxp.mcuxpresso.datamodels.generic.ui/boards/evkmimxrt1180_a8974.png
lpc1768/.metadata/.plugins/com.nxp.mcuxpresso.datamodels.generic.ui/boards/evkmimxrt1180_om13790host.png
lpc1768/.metadata/.plugins/com.nxp.mcuxpresso.datamodels.generic.ui/boards/evkmimxrt595.png
lpc1768/.metadata/.plugins/com.nxp.mcuxpresso.datamodels.generic.ui/boards/evkmimxrt595_agm01.png
lpc1768/.metadata/.plugins/com.nxp.mcuxpresso.datamodels.generic.ui/boards/evkmimxrt595_om13790host.png
lpc1768/.metadata/.plugins/com.nxp.mcuxpresso.datamodels.generic.ui/boards/evkmimxrt685.png
lpc1768/.metadata/.plugins/com.nxp.mcuxpresso.datamodels.generic.ui/boards/evkmimxrt685_agm01.png
lpc1768/.metadata/.plugins/com.nxp.mcuxpresso.datamodels.generic.ui/boards/evkmimxrt685_om13790host.png
lpc1768/.metadata/.plugins/com.nxp.mcuxpresso.datamodels.generic.ui/boards/frdmimxrt1186.png
lpc1768/.metadata/.plugins/com.nxp.mcuxpresso.datamodels.generic.ui/boards/frdmk22f.png
lpc1768/.metadata/.plugins/com.nxp.mcuxpresso.datamodels.generic.ui/boards/frdmk22f_a8964.png
lpc1768/.metadata/.plugins/com.nxp.mcuxpresso.datamodels.generic.ui/boards/frdmk22f_a8967.png
lpc1768/.metadata/.plugins/com.nxp.mcuxpresso.datamodels.generic.ui/boards/frdmk22f_a8974.png
lpc1768/.metadata/.plugins/com.nxp.mcuxpresso.datamodels.generic.ui/boards/frdmk22f_agm01.png
lpc1768/.metadata/.plugins/com.nxp.mcuxpresso.datamodels.generic.ui/boards/frdmk22f_agmp03.png
lpc1768/.metadata/.plugins/com.nxp.mcuxpresso.datamodels.generic.ui/boards/frdmk22f_om13790host.png
lpc1768/.metadata/.plugins/com.nxp.mcuxpresso.datamodels.generic.ui/boards/frdmk22f_sa9500.png
lpc1768/.metadata/.plugins/com.nxp.mcuxpresso.datamodels.generic.ui/boards/frdmk28f.png
lpc1768/.metadata/.plugins/com.nxp.mcuxpresso.datamodels.generic.ui/boards/frdmk28fa.png
lpc1768/.metadata/.plugins/com.nxp.mcuxpresso.datamodels.generic.ui/boards/frdmk32l2a4s.png
lpc1768/.metadata/.plugins/com.nxp.mcuxpresso.datamodels.generic.ui/boards/frdmk32l2a4s_om13790host.png
lpc1768/.metadata/.plugins/com.nxp.mcuxpresso.datamodels.generic.ui/boards/frdmk32l2b.png
lpc1768/.metadata/.plugins/com.nxp.mcuxpresso.datamodels.generic.ui/boards/frdmk32l3a6.png
lpc1768/.metadata/.plugins/com.nxp.mcuxpresso.datamodels.generic.ui/boards/frdmk32l3a6_agm01.png
lpc1768/.metadata/.plugins/com.nxp.mcuxpresso.datamodels.generic.ui/boards/frdmk64f.png
lpc1768/.metadata/.plugins/com.nxp.mcuxpresso.datamodels.generic.ui/boards/frdmk64f_agm01.png
lpc1768/.metadata/.plugins/com.nxp.mcuxpresso.datamodels.generic.ui/boards/frdmk64f_agm04.png
lpc1768/.metadata/.plugins/com.nxp.mcuxpresso.datamodels.generic.ui/boards/frdmk64f_mult2b.png
lpc1768/.metadata/.plugins/com.nxp.mcuxpresso.datamodels.generic.ui/boards/frdmk66f.png
lpc1768/.metadata/.plugins/com.nxp.mcuxpresso.datamodels.generic.ui/boards/frdmk82f.png
lpc1768/.metadata/.plugins/com.nxp.mcuxpresso.datamodels.generic.ui/boards/frdmk82f_clrc663.png
lpc1768/.metadata/.plugins/com.nxp.mcuxpresso.datamodels.generic.ui/boards/frdmk82f_pn5180.png
lpc1768/.metadata/.plugins/com.nxp.mcuxpresso.datamodels.generic.ui/boards/frdmke02z40m.png
lpc1768/.metadata/.plugins/com.nxp.mcuxpresso.datamodels.generic.ui/boards/frdmke04z.png
lpc1768/.metadata/.plugins/com.nxp.mcuxpresso.datamodels.generic.ui/boards/frdmke06z.png
lpc1768/.metadata/.plugins/com.nxp.mcuxpresso.datamodels.generic.ui/boards/frdmke15z.png
lpc1768/.metadata/.plugins/com.nxp.mcuxpresso.datamodels.generic.ui/boards/frdmke15z_dp300x.png
lpc1768/.metadata/.plugins/com.nxp.mcuxpresso.datamodels.generic.ui/boards/frdmke15z_dp5004.png
lpc1768/.metadata/.plugins/com.nxp.mcuxpresso.datamodels.generic.ui/boards/frdmke15z_nmh1000.png
lpc1768/.metadata/.plugins/com.nxp.mcuxpresso.datamodels.generic.ui/boards/frdmke15z_pa7250.png
lpc1768/.metadata/.plugins/com.nxp.mcuxpresso.datamodels.generic.ui/boards/frdmke15z_pd7250.png
lpc1768/.metadata/.plugins/com.nxp.mcuxpresso.datamodels.generic.ui/boards/frdmke16z.png
lpc1768/.metadata/.plugins/com.nxp.mcuxpresso.datamodels.generic.ui/boards/frdmke17z.png
lpc1768/.metadata/.plugins/com.nxp.mcuxpresso.datamodels.generic.ui/boards/frdmke17z512.png
lpc1768/.metadata/.plugins/com.nxp.mcuxpresso.datamodels.generic.ui/boards/frdmkl02z.png
lpc1768/.metadata/.plugins/com.nxp.mcuxpresso.datamodels.generic.ui/boards/frdmkl03z.png
lpc1768/.metadata/.plugins/com.nxp.mcuxpresso.datamodels.generic.ui/boards/frdmkl25z.png
lpc1768/.metadata/.plugins/com.nxp.mcuxpresso.datamodels.generic.ui/boards/frdmkl25z_a8471.png
lpc1768/.metadata/.plugins/com.nxp.mcuxpresso.datamodels.generic.ui/boards/frdmkl25z_a8491.png
lpc1768/.metadata/.plugins/com.nxp.mcuxpresso.datamodels.generic.ui/boards/frdmkl25z_p3115.png
lpc1768/.metadata/.plugins/com.nxp.mcuxpresso.datamodels.generic.ui/boards/frdmkl26z.png
lpc1768/.metadata/.plugins/com.nxp.mcuxpresso.datamodels.generic.ui/boards/frdmkl27z.png
lpc1768/.metadata/.plugins/com.nxp.mcuxpresso.datamodels.generic.ui/boards/frdmkl27z_a8471.png
lpc1768/.metadata/.plugins/com.nxp.mcuxpresso.datamodels.generic.ui/boards/frdmkl27z_a8491.png
lpc1768/.metadata/.plugins/com.nxp.mcuxpresso.datamodels.generic.ui/boards/frdmkl27z_agmp03.png
lpc1768/.metadata/.plugins/com.nxp.mcuxpresso.datamodels.generic.ui/boards/frdmkl27z_b3115.png
lpc1768/.metadata/.plugins/com.nxp.mcuxpresso.datamodels.generic.ui/boards/frdmkl27z_p3115.png
lpc1768/.metadata/.plugins/com.nxp.mcuxpresso.datamodels.generic.ui/boards/frdmkl28z.png
lpc1768/.metadata/.plugins/com.nxp.mcuxpresso.datamodels.generic.ui/boards/frdmkl43z.png
lpc1768/.metadata/.plugins/com.nxp.mcuxpresso.datamodels.generic.ui/boards/frdmkl46z.png
lpc1768/.metadata/.plugins/com.nxp.mcuxpresso.datamodels.generic.ui/boards/frdmkl81z.png
lpc1768/.metadata/.plugins/com.nxp.mcuxpresso.datamodels.generic.ui/boards/frdmkl82z.png
lpc1768/.metadata/.plugins/com.nxp.mcuxpresso.datamodels.generic.ui/boards/frdmkv10z.png
lpc1768/.metadata/.plugins/com.nxp.mcuxpresso.datamodels.generic.ui/boards/frdmkv11z.png
lpc1768/.metadata/.plugins/com.nxp.mcuxpresso.datamodels.generic.ui/boards/frdmkv31f.png
lpc1768/.metadata/.plugins/com.nxp.mcuxpresso.datamodels.generic.ui/boards/frdmkw24.png
lpc1768/.metadata/.plugins/com.nxp.mcuxpresso.datamodels.generic.ui/boards/frdmkw36.png
lpc1768/.metadata/.plugins/com.nxp.mcuxpresso.datamodels.generic.ui/boards/frdmkw38.png
lpc1768/.metadata/.plugins/com.nxp.mcuxpresso.datamodels.generic.ui/boards/frdmmcxa153.png
lpc1768/.metadata/.plugins/com.nxp.mcuxpresso.datamodels.generic.ui/boards/frdmmcxa156.png
lpc1768/.metadata/.plugins/com.nxp.mcuxpresso.datamodels.generic.ui/boards/frdmmcxa156_a8974.png
lpc1768/.metadata/.plugins/com.nxp.mcuxpresso.datamodels.generic.ui/boards/frdmmcxa174.png
lpc1768/.metadata/.plugins/com.nxp.mcuxpresso.datamodels.generic.ui/boards/frdmmcxa266.png
lpc1768/.metadata/.plugins/com.nxp.mcuxpresso.datamodels.generic.ui/boards/frdmmcxa344.png
lpc1768/.metadata/.plugins/com.nxp.mcuxpresso.datamodels.generic.ui/boards/frdmmcxa346.png
lpc1768/.metadata/.plugins/com.nxp.mcuxpresso.datamodels.generic.ui/boards/frdmmcxa366.png
lpc1768/.metadata/.plugins/com.nxp.mcuxpresso.datamodels.generic.ui/boards/frdmmcxc041.png
lpc1768/.metadata/.plugins/com.nxp.mcuxpresso.datamodels.generic.ui/boards/frdmmcxc242.png
lpc1768/.metadata/.plugins/com.nxp.mcuxpresso.datamodels.generic.ui/boards/frdmmcxc444.png
lpc1768/.metadata/.plugins/com.nxp.mcuxpresso.datamodels.generic.ui/boards/frdmmcxe247.png
lpc1768/.metadata/.plugins/com.nxp.mcuxpresso.datamodels.generic.ui/boards/frdmmcxe31b.png
lpc1768/.metadata/.plugins/com.nxp.mcuxpresso.datamodels.generic.ui/boards/frdmmcxl255.png
lpc1768/.metadata/.plugins/com.nxp.mcuxpresso.datamodels.generic.ui/boards/frdmmcxn236.png
lpc1768/.metadata/.plugins/com.nxp.mcuxpresso.datamodels.generic.ui/boards/frdmmcxn236_om13790host.png
lpc1768/.metadata/.plugins/com.nxp.mcuxpresso.datamodels.generic.ui/boards/frdmmcxn947.png
lpc1768/.metadata/.plugins/com.nxp.mcuxpresso.datamodels.generic.ui/boards/frdmmcxn947_a8974.png
lpc1768/.metadata/.plugins/com.nxp.mcuxpresso.datamodels.generic.ui/boards/frdmmcxn947_om13790host.png
lpc1768/.metadata/.plugins/com.nxp.mcuxpresso.datamodels.generic.ui/boards/frdmmcxw23.png
lpc1768/.metadata/.plugins/com.nxp.mcuxpresso.datamodels.generic.ui/boards/frdmmcxw71.png
lpc1768/.metadata/.plugins/com.nxp.mcuxpresso.datamodels.generic.ui/boards/frdmmcxw72.png
lpc1768/.metadata/.plugins/com.nxp.mcuxpresso.datamodels.generic.ui/boards/frdmrw612.png
lpc1768/.metadata/.plugins/com.nxp.mcuxpresso.datamodels.generic.ui/boards/hexiwear.png
lpc1768/.metadata/.plugins/com.nxp.mcuxpresso.datamodels.generic.ui/boards/hvpke18f.png
lpc1768/.metadata/.plugins/com.nxp.mcuxpresso.datamodels.generic.ui/boards/hvpkv11z75m.png
lpc1768/.metadata/.plugins/com.nxp.mcuxpresso.datamodels.generic.ui/boards/hvpkv31f120m.png
lpc1768/.metadata/.plugins/com.nxp.mcuxpresso.datamodels.generic.ui/boards/hvpkv46f150m.png
lpc1768/.metadata/.plugins/com.nxp.mcuxpresso.datamodels.generic.ui/boards/hvpkv58f.png
lpc1768/.metadata/.plugins/com.nxp.mcuxpresso.datamodels.generic.ui/boards/jn5189dk6.png
lpc1768/.metadata/.plugins/com.nxp.mcuxpresso.datamodels.generic.ui/boards/k32w041adk6.png
lpc1768/.metadata/.plugins/com.nxp.mcuxpresso.datamodels.generic.ui/boards/k32w041amdk6.png
lpc1768/.metadata/.plugins/com.nxp.mcuxpresso.datamodels.generic.ui/boards/k32w061dk6.png
lpc1768/.metadata/.plugins/com.nxp.mcuxpresso.datamodels.generic.ui/boards/k32w148evk.png
lpc1768/.metadata/.plugins/com.nxp.mcuxpresso.datamodels.generic.ui/boards/kw45b41zevk.png
lpc1768/.metadata/.plugins/com.nxp.mcuxpresso.datamodels.generic.ui/boards/kw45b41zloc.png
lpc1768/.metadata/.plugins/com.nxp.mcuxpresso.datamodels.generic.ui/boards/kw47evk.png
lpc1768/.metadata/.plugins/com.nxp.mcuxpresso.datamodels.generic.ui/boards/kw47loc.png
lpc1768/.metadata/.plugins/com.nxp.mcuxpresso.datamodels.generic.ui/boards/lpc54018iotmodule.png
lpc1768/.metadata/.plugins/com.nxp.mcuxpresso.datamodels.generic.ui/boards/lpc845breakout.png
lpc1768/.metadata/.plugins/com.nxp.mcuxpresso.datamodels.generic.ui/boards/lpc8n04devboard.png
lpc1768/.metadata/.plugins/com.nxp.mcuxpresso.datamodels.generic.ui/boards/lpcxpresso51u68.png
lpc1768/.metadata/.plugins/com.nxp.mcuxpresso.datamodels.generic.ui/boards/lpcxpresso54018.png
lpc1768/.metadata/.plugins/com.nxp.mcuxpresso.datamodels.generic.ui/boards/lpcxpresso54102.png
lpc1768/.metadata/.plugins/com.nxp.mcuxpresso.datamodels.generic.ui/boards/lpcxpresso54114.png
lpc1768/.metadata/.plugins/com.nxp.mcuxpresso.datamodels.generic.ui/boards/lpcxpresso54114_agm01.png
lpc1768/.metadata/.plugins/com.nxp.mcuxpresso.datamodels.generic.ui/boards/lpcxpresso54114_agmp03.png
lpc1768/.metadata/.plugins/com.nxp.mcuxpresso.datamodels.generic.ui/boards/lpcxpresso54608.png
lpc1768/.metadata/.plugins/com.nxp.mcuxpresso.datamodels.generic.ui/boards/lpcxpresso54618.png
lpc1768/.metadata/.plugins/com.nxp.mcuxpresso.datamodels.generic.ui/boards/lpcxpresso54628.png
lpc1768/.metadata/.plugins/com.nxp.mcuxpresso.datamodels.generic.ui/boards/lpcxpresso54s018.png
lpc1768/.metadata/.plugins/com.nxp.mcuxpresso.datamodels.generic.ui/boards/lpcxpresso54s018m.png
lpc1768/.metadata/.plugins/com.nxp.mcuxpresso.datamodels.generic.ui/boards/lpcxpresso55s06.png
lpc1768/.metadata/.plugins/com.nxp.mcuxpresso.datamodels.generic.ui/boards/lpcxpresso55s06_agm01.png
lpc1768/.metadata/.plugins/com.nxp.mcuxpresso.datamodels.generic.ui/boards/lpcxpresso55s16.png
lpc1768/.metadata/.plugins/com.nxp.mcuxpresso.datamodels.generic.ui/boards/lpcxpresso55s16_a8961.png
lpc1768/.metadata/.plugins/com.nxp.mcuxpresso.datamodels.generic.ui/boards/lpcxpresso55s16_a8964.png
lpc1768/.metadata/.plugins/com.nxp.mcuxpresso.datamodels.generic.ui/boards/lpcxpresso55s16_a8967.png
lpc1768/.metadata/.plugins/com.nxp.mcuxpresso.datamodels.generic.ui/boards/lpcxpresso55s16_a8971.png
lpc1768/.metadata/.plugins/com.nxp.mcuxpresso.datamodels.generic.ui/boards/lpcxpresso55s16_a8974.png
lpc1768/.metadata/.plugins/com.nxp.mcuxpresso.datamodels.generic.ui/boards/lpcxpresso55s16_agm01.png
lpc1768/.metadata/.plugins/com.nxp.mcuxpresso.datamodels.generic.ui/boards/lpcxpresso55s16_om13790host.png
lpc1768/.metadata/.plugins/com.nxp.mcuxpresso.datamodels.generic.ui/boards/lpcxpresso55s28.png
lpc1768/.metadata/.plugins/com.nxp.mcuxpresso.datamodels.generic.ui/boards/lpcxpresso55s28_om13790host.png
lpc1768/.metadata/.plugins/com.nxp.mcuxpresso.datamodels.generic.ui/boards/lpcxpresso55s36.png
lpc1768/.metadata/.plugins/com.nxp.mcuxpresso.datamodels.generic.ui/boards/lpcxpresso55s36_om13790host.png
lpc1768/.metadata/.plugins/com.nxp.mcuxpresso.datamodels.generic.ui/boards/lpcxpresso55s69.png
lpc1768/.metadata/.plugins/com.nxp.mcuxpresso.datamodels.generic.ui/boards/lpcxpresso55s69_agm01.png
lpc1768/.metadata/.plugins/com.nxp.mcuxpresso.datamodels.generic.ui/boards/lpcxpresso55s69_om13790dock.png
lpc1768/.metadata/.plugins/com.nxp.mcuxpresso.datamodels.generic.ui/boards/lpcxpresso55s69_om13790host.png
lpc1768/.metadata/.plugins/com.nxp.mcuxpresso.datamodels.generic.ui/boards/lpcxpresso802.png
lpc1768/.metadata/.plugins/com.nxp.mcuxpresso.datamodels.generic.ui/boards/lpcxpresso804.png
lpc1768/.metadata/.plugins/com.nxp.mcuxpresso.datamodels.generic.ui/boards/lpcxpresso812max.png
lpc1768/.metadata/.plugins/com.nxp.mcuxpresso.datamodels.generic.ui/boards/lpcxpresso824max.png
lpc1768/.metadata/.plugins/com.nxp.mcuxpresso.datamodels.generic.ui/boards/lpcxpresso845max.png
lpc1768/.metadata/.plugins/com.nxp.mcuxpresso.datamodels.generic.ui/boards/lpcxpresso860max.png
lpc1768/.metadata/.plugins/com.nxp.mcuxpresso.datamodels.generic.ui/boards/mcxn5xxevk.png
lpc1768/.metadata/.plugins/com.nxp.mcuxpresso.datamodels.generic.ui/boards/mcxn5xxevk_a8974.png
lpc1768/.metadata/.plugins/com.nxp.mcuxpresso.datamodels.generic.ui/boards/mcxn5xxevk_om13790host.png
lpc1768/.metadata/.plugins/com.nxp.mcuxpresso.datamodels.generic.ui/boards/mcxn9xxevk.png
lpc1768/.metadata/.plugins/com.nxp.mcuxpresso.datamodels.generic.ui/boards/mcxn9xxevk_a8974.png
lpc1768/.metadata/.plugins/com.nxp.mcuxpresso.datamodels.generic.ui/boards/mcxn9xxevk_om13790host.png
lpc1768/.metadata/.plugins/com.nxp.mcuxpresso.datamodels.generic.ui/boards/mcxw71evk.png
lpc1768/.metadata/.plugins/com.nxp.mcuxpresso.datamodels.generic.ui/boards/mcxw72evk.png
lpc1768/.metadata/.plugins/com.nxp.mcuxpresso.datamodels.generic.ui/boards/mcxw72loc.png
lpc1768/.metadata/.plugins/com.nxp.mcuxpresso.datamodels.generic.ui/boards/mimxrt685audevk.png
lpc1768/.metadata/.plugins/com.nxp.mcuxpresso.datamodels.generic.ui/boards/mimxrt685audevk_om13790host.png
lpc1768/.metadata/.plugins/com.nxp.mcuxpresso.datamodels.generic.ui/boards/mimxrt700evk.png
lpc1768/.metadata/.plugins/com.nxp.mcuxpresso.datamodels.generic.ui/boards/mimxrt700evk_a8974.png
lpc1768/.metadata/.plugins/com.nxp.mcuxpresso.datamodels.generic.ui/boards/qn908xcdk.png
lpc1768/.metadata/.plugins/com.nxp.mcuxpresso.datamodels.generic.ui/boards/qn9090dk6.png
lpc1768/.metadata/.plugins/com.nxp.mcuxpresso.datamodels.generic.ui/boards/rdmw320_r0.png
lpc1768/.metadata/.plugins/com.nxp.mcuxpresso.datamodels.generic.ui/boards/rdrw612bga.png
lpc1768/.metadata/.plugins/com.nxp.mcuxpresso.datamodels.generic.ui/boards/sln_alexa_iot.png
lpc1768/.metadata/.plugins/com.nxp.mcuxpresso.datamodels.generic.ui/boards/sln_local2_iot.png
lpc1768/.metadata/.plugins/com.nxp.mcuxpresso.datamodels.generic.ui/boards/sln_viznas_iot.png
lpc1768/.metadata/.plugins/com.nxp.mcuxpresso.datamodels.generic.ui/boards/twrk21d50m.png
lpc1768/.metadata/.plugins/com.nxp.mcuxpresso.datamodels.generic.ui/boards/twrk21f120m.png
lpc1768/.metadata/.plugins/com.nxp.mcuxpresso.datamodels.generic.ui/boards/twrk22f120m.png
lpc1768/.metadata/.plugins/com.nxp.mcuxpresso.datamodels.generic.ui/boards/twrk24f120m.png
lpc1768/.metadata/.plugins/com.nxp.mcuxpresso.datamodels.generic.ui/boards/twrk60d100m.png
lpc1768/.metadata/.plugins/com.nxp.mcuxpresso.datamodels.generic.ui/boards/twrk64f120m.png
lpc1768/.metadata/.plugins/com.nxp.mcuxpresso.datamodels.generic.ui/boards/twrk65f180m.png
lpc1768/.metadata/.plugins/com.nxp.mcuxpresso.datamodels.generic.ui/boards/twrk80f150m.png
lpc1768/.metadata/.plugins/com.nxp.mcuxpresso.datamodels.generic.ui/boards/twrk81f150m.png
lpc1768/.metadata/.plugins/com.nxp.mcuxpresso.datamodels.generic.ui/boards/twrke18f.png
lpc1768/.metadata/.plugins/com.nxp.mcuxpresso.datamodels.generic.ui/boards/twrkl43z48m.png
lpc1768/.metadata/.plugins/com.nxp.mcuxpresso.datamodels.generic.ui/boards/twrkl82z72m.png
lpc1768/.metadata/.plugins/com.nxp.mcuxpresso.datamodels.generic.ui/boards/twrkm34z50mv3.png
lpc1768/.metadata/.plugins/com.nxp.mcuxpresso.datamodels.generic.ui/boards/twrkm34z75m.png
lpc1768/.metadata/.plugins/com.nxp.mcuxpresso.datamodels.generic.ui/boards/twrkm35z75m.png
lpc1768/.metadata/.plugins/com.nxp.mcuxpresso.datamodels.generic.ui/boards/twrkv10z32.png
lpc1768/.metadata/.plugins/com.nxp.mcuxpresso.datamodels.generic.ui/boards/twrkv11z75m.png
lpc1768/.metadata/.plugins/com.nxp.mcuxpresso.datamodels.generic.ui/boards/twrkv31f120m.png
lpc1768/.metadata/.plugins/com.nxp.mcuxpresso.datamodels.generic.ui/boards/twrkv46f150m.png
lpc1768/.metadata/.plugins/com.nxp.mcuxpresso.datamodels.generic.ui/boards/twrkv58f220m.png
lpc1768/.metadata/.plugins/com.nxp.mcuxpresso.datamodels.generic.ui/boards/twrkw24d512.png
lpc1768/.metadata/.plugins/com.nxp.mcuxpresso.datamodels.generic.ui/boards/usbkw24d512.png
lpc1768/.metadata/.plugins/com.nxp.mcuxpresso.datamodels.generic.ui/boards/usbkw38.png
lpc1768/.metadata/.plugins/org.eclipse.cdt.core/.log
lpc1768/.metadata/.plugins/org.eclipse.cdt.core/adaptive-home-control-system.1777412782938.pdom
lpc1768/.metadata/.plugins/org.eclipse.cdt.core/adaptive-home-control-system.language.settings.xml
lpc1768/.metadata/.plugins/org.eclipse.cdt.core/CMSIS_CORE_LPC17xx.1777412741050.pdom
lpc1768/.metadata/.plugins/org.eclipse.cdt.core/CMSIS_CORE_LPC17xx.language.settings.xml
lpc1768/.metadata/.plugins/org.eclipse.cdt.core/shareddefaults.xml
lpc1768/.metadata/.plugins/org.eclipse.cdt.make.core/specs.c
lpc1768/.metadata/.plugins/org.eclipse.cdt.make.core/specs.cpp
lpc1768/.metadata/.plugins/org.eclipse.cdt.managedbuilder.core/spec.c
lpc1768/.metadata/.plugins/org.eclipse.cdt.managedbuilder.core/spec.cpp
lpc1768/.metadata/.plugins/org.eclipse.cdt.ui/adaptive-home-control-system.build.log
lpc1768/.metadata/.plugins/org.eclipse.cdt.ui/CMSIS_CORE_LPC17xx.build.log
lpc1768/.metadata/.plugins/org.eclipse.cdt.ui/global-build.log
lpc1768/.metadata/.plugins/org.eclipse.core.resources/.history/dd/40bde6994b4300111e65fdc1ecf42c06
lpc1768/.metadata/.plugins/org.eclipse.core.resources/.projects/.org.eclipse.egit.core.cmp/.location
lpc1768/.metadata/.plugins/org.eclipse.core.resources/.projects/.org.eclipse.egit.core.cmp/.markers.snap
lpc1768/.metadata/.plugins/org.eclipse.core.resources/.projects/.org.eclipse.egit.core.cmp/.syncinfo.snap
lpc1768/.metadata/.plugins/org.eclipse.core.resources/.projects/adaptive-home-control-system/.indexes/properties.index
lpc1768/.metadata/.plugins/org.eclipse.core.resources/.projects/adaptive-home-control-system/.markers.snap
lpc1768/.metadata/.plugins/org.eclipse.core.resources/.projects/adaptive-home-control-system/.syncinfo.snap
lpc1768/.metadata/.plugins/org.eclipse.core.resources/.projects/adaptive-home-control-system/org.eclipse.egit.core/GitProjectData.properties
lpc1768/.metadata/.plugins/org.eclipse.core.resources/.projects/CMSIS_CORE_LPC17xx/.indexes/properties.index
lpc1768/.metadata/.plugins/org.eclipse.core.resources/.projects/CMSIS_CORE_LPC17xx/.markers.snap
lpc1768/.metadata/.plugins/org.eclipse.core.resources/.projects/CMSIS_CORE_LPC17xx/.syncinfo.snap
lpc1768/.metadata/.plugins/org.eclipse.core.resources/.projects/CMSIS_CORE_LPC17xx/org.eclipse.egit.core/GitProjectData.properties
lpc1768/.metadata/.plugins/org.eclipse.core.resources/.root/.indexes/properties.index
lpc1768/.metadata/.plugins/org.eclipse.core.resources/.root/.markers.snap
lpc1768/.metadata/.plugins/org.eclipse.core.resources/.safetable/org.eclipse.core.resources
lpc1768/.metadata/.plugins/org.eclipse.core.resources/0.snap
lpc1768/.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.cdt.core.prefs
lpc1768/.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.cdt.core.prj-adaptive-home-control-system.prefs
lpc1768/.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.cdt.core.prj-CMSIS_CORE_LPC17xx.prefs
lpc1768/.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.cdt.debug.core.prefs
lpc1768/.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.cdt.managedbuilder.core.prefs
lpc1768/.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.core.resources.prefs
lpc1768/.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.core.variables.prefs
lpc1768/.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.debug.core.prefs
lpc1768/.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.debug.ui.prefs
lpc1768/.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.egit.core.prefs
lpc1768/.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.jsch.core.prefs
lpc1768/.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.ui.navigator.prefs
lpc1768/.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.urischeme.prefs
lpc1768/.metadata/.plugins/org.eclipse.e4.workbench/workbench.xmi
lpc1768/.metadata/.plugins/org.eclipse.egit.core/.org.eclipse.egit.core.cmp/.project
lpc1768/.metadata/.plugins/org.eclipse.egit.core/.org.eclipse.egit.core.cmp/.settings/org.eclipse.core.resources.prefs
lpc1768/.metadata/.plugins/org.eclipse.linuxtools.cdt.libhover/C/devhelp.libhover
lpc1768/.metadata/.plugins/org.eclipse.linuxtools.cdt.libhover/C/newlib_library.libhover
lpc1768/.metadata/.plugins/org.eclipse.ui.intro/introstate
lpc1768/.metadata/.plugins/org.eclipse.ui.workbench/workingsets.xml
lpc1768/.metadata/version.ini
lpc1768/adaptive-home-control-system/Debug/adaptive-home-control-system.axf
lpc1768/adaptive-home-control-system/Debug/adaptive-home-control-system.map
lpc1768/adaptive-home-control-system/Debug/adaptive-home-control-system_Debug.ld
lpc1768/adaptive-home-control-system/Debug/adaptive-home-control-system_Debug_library.ld
lpc1768/adaptive-home-control-system/Debug/adaptive-home-control-system_Debug_memory.ld
lpc1768/adaptive-home-control-system/Debug/makefile
lpc1768/adaptive-home-control-system/Debug/sources.mk
lpc1768/adaptive-home-control-system/Debug/src/cr_startup_lpc175x_6x.d
lpc1768/adaptive-home-control-system/Debug/src/cr_startup_lpc175x_6x.o
lpc1768/adaptive-home-control-system/Debug/src/cr_startup_lpc175x_6x.su
lpc1768/adaptive-home-control-system/Debug/src/crp.d
lpc1768/adaptive-home-control-system/Debug/src/crp.o
lpc1768/adaptive-home-control-system/Debug/src/crp.su
lpc1768/adaptive-home-control-system/Debug/src/main.d
lpc1768/adaptive-home-control-system/Debug/src/main.o
lpc1768/adaptive-home-control-system/Debug/src/main.su
lpc1768/adaptive-home-control-system/Debug/src/ocf_lpc176x_lib.d
lpc1768/adaptive-home-control-system/Debug/src/ocf_lpc176x_lib.o
lpc1768/adaptive-home-control-system/Debug/src/ocf_lpc176x_lib.su
lpc1768/adaptive-home-control-system/Debug/src/subdir.mk
lpc1768/CMSIS_CORE_LPC17xx/Debug/libCMSIS_CORE_LPC17xx.a
lpc1768/CMSIS_CORE_LPC17xx/Debug/makefile
lpc1768/CMSIS_CORE_LPC17xx/Debug/sources.mk
lpc1768/CMSIS_CORE_LPC17xx/Debug/src/subdir.mk
lpc1768/CMSIS_CORE_LPC17xx/Debug/src/system_LPC17xx.d
lpc1768/CMSIS_CORE_LPC17xx/Debug/src/system_LPC17xx.o
lpc1768/CMSIS_CORE_LPC17xx/Debug/src/system_LPC17xx.su
lpc1768/src/ocf_lpc176x_lib.c
lpc1768/src/ocf_lpc176x_lib.h
